:root {
  --color-primary: #282833;
  --color-secondary: #3db6c2;
  --color-tertiary: #ef4b2f;

  --color-primary-font: #f5f5f5;
  --color-secondary-font: #274690;
  --color-tertiary-font: #576ca8;
}

html {
  color: var(--color-primary-font);
  background-color: var(--color-primary);
}
